{% extends 'base.html' %} 

{% block title %} About {% endblock %} 

{% block pageTitle %} spotify-scraper {% endblock %} 

{% block content %}
    <p>spotify-scraper is an application that allows a user to get their top artists and tracks
    from last month, the last 6 months, and all time. <br> spotify-scraper has greatly been inspired by 
    <a href="https://receiptify.herokuapp.com/about.html">receiptify</a>.</p>
    <p>spotify-scraper is a project I created in order to get familiar with authorization flows and
    handling the incoming information.</p>
{%endblock %}