{% extends 'base.html' %} 

{% block title %} Privacy Policy {% endblock %} 

{% block pageTitle %} spotify-scraper {% endblock %} 

{% block content %}
    <p>spotify-scraper is an open-source application powered by the Spotify Web API. By opting to utilize this application, 
    you acknowledge and agree to the utilization of your Spotify account username and data to compile your top artists and tracks.</p>

    <p>Your data is not stored or collected by spotify-scraper, and it is never shared with any third parties. 
    The information is solely utilized for presenting your top tracks and artists.</p>

    <p>While your data is handled securely and with integrity, if you wish to revoke permissions granted to spotify-scraper, 
    you can do so by visiting <a href="https://www.spotify.com/ch-de/account/apps/">your apps page</a> 
    on Spotify and selecting "REMOVE ACCESS" for spotify-scraper.</p>
{%endblock %}