{% extends 'base.html' %}

{% block title %} Success {% endblock %}

{% block pageTitle %} spotify-scraper {% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <button onclick="getCurrentTrack()">Get your current track</button>
            <div id="currentTrack" class="row justify-content-center">
                <div class="col-12 text-center">
                    <a id="link"></a>
                    <img id="image" src="" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <button onclick="getTopArtists()">Get your top 10 artists</button>
            <div id="topArtists" class="row justify-content-center">
                <div class="col-8 text-center">
                    <p id="artists"></p>
                    <div id="topArtistsCarousel" class="carousel carousel-dark slide" data-ride="carousel">
                        <ol class="carousel-indicators d-none"></ol>
                        <div class="carousel-inner justify-content-center align-items-center"></div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#topArtistsCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#topArtistsCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <button onclick="getTopTracks()">Get your top 10 tracks</button>
            <div id="topTracks" class="row justify-content-center">
                <div class="col-12 text-center">
                    <p id="tracks"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
