{% extends 'base.html' %}

{% block title %} Success {% endblock %}

{% block pageTitle %} spotify-scraper {% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <button onclick="getCurrentTrack()">Get your current track</button>
            <div id="currentTrack" class="row justify-content-center">
                <div class="col-12 text-center">
                    <a id="link"></a>
                    <img id="image" src="" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <button onclick="getTopArtists()">Get your top 10 artists</button>
            <div id="topArtists" class="row justify-content-center">
                <div class="col-12 text-center">
                    <p id="artists"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <button onclick="getTopTracks()">Get your top 10 tracks</button>
            <div id="topTracks" class="row justify-content-center">
                <div class="col-12 text-center">
                    <p id="tracks"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
